.dashboardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgba(250, 251, 252, 0.767);
}

.contentContainer {
  display: flex;
  flex: 1;
  margin: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-left: 3.5rem;
  flex: 1;
  overflow-y: auto;

  h1 {
    text-align: left;
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 24px;
    line-height: 28.15px;
    color: #213f7d;
  }

  .cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 26px;

    .card {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
      padding-left: 2%;
      padding-top: 0;
      padding-bottom: 0;
      gap: 0.5px;
      width: 240px;
      height: 160px;
      box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;

      .icon {
        width: 40px;
        height: 40px;
      }

      img {
        padding-top: 10%;
      }

      .cardTitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 16.42px;
        color: #545f7d;
      }

      .cardValue {
        font-weight: 600;
        font-size: 24px;
        line-height: 28.15px;
        color: #213f7d;
      }

      h3 {
        margin-top: -10%;
        margin-bottom: 5%;
      }
    }
  }

  .userTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 5%;
    padding: 1.5%;

    .tableHead {
      display: flex;
      flex-direction: row;
      width: 90%;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      th {
        padding: 0.75rem;
        text-align: left;
      }

      .tableHeadInner {
        display: flex;
        flex-direction: row;
        width: 106px;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
      }

      .tableTitle {
        font-family: "Work Sans";
        font-weight: 600;
        font-size: 12px;
        line-height: 14.08px;
        color: #545f7d;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    .tableBody {
      display: flex;
      flex-direction: row;
      width: 90%;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      font-family: "Work Sans";
      font-weight: 400;
      font-size: 14px;
      line-height: 16.42px;
      color: #545f7d;

      .tableBodyInner {
        display: flex;
        flex-direction: row;
        width: 106px;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .status {
          padding: 4px 8px;
          border-radius: 12px;
          font-weight: 600;
          font-size: 14px;
          text-align: center;
          display: inline-block;

          &.inactive {
            color: #545f7d;
            background-color: #e5e5e5; /* Adjust background color as needed */
          }

          &.pending {
            color: #e9b200;
            background-color: #fff4cc; /* Adjust background color as needed */
          }

          &.blacklisted {
            color: #e4033b;
            background-color: #fde2e2; /* Adjust background color as needed */
          }

          &.active {
            color: #39cd62;
            background-color: #e5f9e7; /* Adjust background color as needed */
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    color: #213f7d;

    .pageDropdown {
      background-color: #213f7d1a;
      color: #213f7d;
      border: none;
      border-radius: 4px;
      padding: 0.25rem;
    }

    .paginationInner {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    button {
      padding: 8px 16px;
      font-size: 14px;
      cursor: pointer;
      background-color: #213f7d1a;
      color: #213f7d;
      border: none;
      border-radius: 4px;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    span {
      font-size: 14px;
      color: #545f7d;
    }
  }
}
