.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1037px;
  height: 910px;
  top: 50px;
  left: 15px;
  border-radius: 4px;
  background-color: #ffff;
  box-shadow: 0 4px 8px #213f7d0f;

  @media (max-width: 768px) {
    width: 90%;
    padding: 1rem;
  }

  @media (max-width: 480px) {
    width: 90%;
    padding: 0.75rem;
  }

  hr {
    width: 977px;
    height: 0px;
    top: 1274px;
    left: 373px;
    border: 1px 0px 0px 0px;
    opacity: 0.1px;
    border: 1px solid #213f7d;
    padding-bottom: 0;
    margin-bottom: -5%;

    @media (max-width: 768px) {
      width: 80%;
      top: 1000px;
    }

    @media (max-width: 480px) {
      width: 80%;
      top: 400px;
    }
  }

  .divWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8%;
    width: 918px;
    height: 163px;
    top: 781px;
    left: 373px;

    @media (max-width: 768px) {
      width: 80%;
      padding: 6%;
    }

    @media (max-width: 480px) {
      width: 70%;
      padding: 6%;
      padding-bottom: 3%;
      padding-left: 1.5%;
      padding-right: 1.5%;
    }

    h3 {
      width: 217px;
      height: 19px;
      top: 781px;
      left: 373px;
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 500;
      line-height: 18.77px;
      text-align: left;
      color: #213f7d;

      @media (max-width: 768px) {
        width: 200px;
        font-size: 14px;
        line-height: 16.77px;
      }

      @media (max-width: 480px) {
        width: 170px;
        font-size: 10px;
        line-height: 12.77px;
      }
    }

    .innerDiv {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      width: 100%;

      @media (max-width: 768px) {
        gap: 0.75rem;
      }

      @media (max-width: 480px) {
        gap: 0.5rem;
      }

      p {
        width: 167px;
        height: 14px;
        top: 830px;
        left: 373px;
        font-family: Work Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.08px;
        text-align: left;
        color: #545f7d;

        @media (max-width: 768px) {
          width: 160px;
          font-size: 10px;
          line-height: 12.08px;
        }

        @media (max-width: 480px) {
          width: 140px;
          font-size: 8px;
          line-height: 10.08px;
        }
      }

      h4 {
        width: 214px;
        height: 19px;
        top: 852px;
        left: 373px;
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.77px;
        text-align: left;
        color: #545f7d;
        @media (max-width: 768px) {
          width: 200px;
          font-size: 12px;
          line-height: 16.77px;
        }

        @media (max-width: 480px) {
          width: 180px;
          font-size: 10px;
          line-height: 12.77px;
        }
      }
    }
  }
}
