.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95.5%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.searchBar input {
  position: relative;
  width: 400px;
  height: 40px;
  padding: 0;
  // padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.searchButton {
  position: absolute;
  left: 50.285rem;
  width: 56px;
  height: 40px;
  top: 28px;
  background-image: url("../assets/Rectangle\ 9.png");
  background-size: 56px 40px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .docsLink {
    margin-right: 1.5rem;
    color: #007bff;
    text-decoration: none;
  }

  .notificationIcon {
    margin-right: 1.5rem;
    font-size: 1.25rem;
    color: #007bff;
    cursor: pointer;
  }

  .userProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 10px;

    .userImage {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    .username {
      font-size: 1rem;
      font-weight: 500;
      color: #333;
    }
  }
}
