.userTable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 5%;
  padding: 1.5%;

  .tableHead {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    th {
      padding: 0.75rem;
      text-align: left;
    }

    .tableHeadInner {
      display: flex;
      flex-direction: row;
      width: 106px;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }

    .tableTitle {
      font-family: "Work Sans";
      font-weight: 600;
      font-size: 12px;
      line-height: 14.08px;
      color: #545f7d;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  .tableBody {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    font-family: "Work Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 16.42px;
    color: #545f7d;

    .tableBodyInner {
      display: flex;
      flex-direction: row;
      width: 106px;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      .status {
        padding: 4px 8px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        display: inline-block;

        &.inactive {
          color: #545f7d;
          background-color: #e5e5e5; 
        }

        &.pending {
          color: #e9b200;
          background-color: #fff4cc;
        }

        &.blacklisted {
          color: #e4033b;
          background-color: #fde2e2; 
        }

        &.active {
          color: #39cd62;
          background-color: #e5f9e7;
        }
      }

      .popup {
        position: absolute;
        width: 180px;
        height: 130px;
        top: 622px; 
        left: 1151px;
        background-color: #ffffff;
        color: #545F7D;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 1000;
      
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
      
          li {
            font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16.42px;
text-align: center;
color: #545F7D;
width: 117px;
            padding: 10px 6px;
            cursor: pointer;
            &:hover {
              background-color: #f0f0f0;
            }

            .popupImage {
              width: 14px;
              height: 14px;
              padding-right: 5%;
            }
          }
        }
      }
      
    }
  }
}
