.userTable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 5%;
  padding: 1.5%;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 480px) {
    max-width: 100%;
  }

  .tableHead {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    @media (max-width: 768px) {
      width: 70%;
    }
  
    @media (max-width: 480px) {
      width: 70%;
    }

    th {
      padding: 0.75rem;
      text-align: left;

      @media (max-width: 768px) {
        padding: 0.65rem;
      }
    
      @media (max-width: 480px) {
        padding: 0.65rem;
      }
    }

    .tableHeadInner {
      display: flex;
      flex-direction: row;
      width: 106px;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    
      @media (max-width: 480px) {
        padding: 0.25rem;
        flex-direction: column;
      }
    }

    .tableTitle {
      font-family: "Work Sans";
      font-weight: 600;
      font-size: 12px;
      line-height: 14.08px;
      color: #545f7d;

      @media (max-width: 768px) {
        font-weight: 400;
        font-size: 10px;
        line-height: 12.08px;
      }
    
      @media (max-width: 480px) {
        font-weight: 400;
        font-size: 9.5px;
        line-height: 10.08px;
      }

      img {
        width: 16px;
        height: 16px;

        @media (max-width: 768px) {
          width: 10px;
          height: auto;
        }
      
        @media (max-width: 480px) {
          width: 8px;
          height: auto;
        }
      }
    }
  }

  .tableBody {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    @media (max-width: 768px) {
      max-width: 70%;
    }
  
    @media (max-width: 480px) {
      max-width: 70%;
    }

    font-family: "Work Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 16.42px;
    color: #545f7d;

    .tableBodyInner {
      display: flex;
      flex-direction: row;
      width: 106px;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      @media (max-width: 768px) {
        width: 90px;
        flex-wrap: wrap;
      }
    
      @media (max-width: 480px) {
        width: 70px;
        flex-wrap: wrap;
        inline-size: 70px;
        overflow-wrap: break-word;
        
      }

      .status {
        padding: 4px 8px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        display: inline-block;

        @media (max-width: 768px) {
          width: 90px;
        }
      
        @media (max-width: 480px) {
          width: 70px;
          transform: rotate(-90deg);          
        }  

        &.inactive {
          color: #545f7d;
          background-color: #e5e5e5;
        }

        &.pending {
          color: #e9b200;
          background-color: #fff4cc;
        }

        &.blacklisted {
          color: #e4033b;
          background-color: #fde2e2;
        }

        &.active {
          color: #39cd62;
          background-color: #e5f9e7;
        }
      }

      .popup {
        position: absolute;
        width: 180px;
        height: 130px;
        top: 622px;
        left: 1151px;
        background-color: #ffffff;
        color: #545f7d;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 1000;

        @media (max-width: 768px) {
          width: 150px;
          left: 660px;
          padding: 5px;
        }
      
        @media (max-width: 480px) {
          width: 135px;
          left: 340px;
          padding: 5px;
        }
  

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            font-family: Work Sans;
            font-size: 14px;
            font-weight: 500;
            line-height: 16.42px;
            text-align: center;
            color: #545f7d;
            width: 117px;
            padding: 10px 6px;
            cursor: pointer;
            &:hover {
              background-color: #f0f0f0;
            }

            .popupImage {
              width: 14px;
              height: 14px;
              padding-right: 5%;
            }
          }
        }
      }
    }
  }
}

.organizationFilterForm {
  position: absolute;
  top: 438px;
  left: 358px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 0.75rem;
  gap: 1rem;
  width: 270px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #545f7d24;
  border-radius: 4px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    left: 158px;
    width: 200px;
  }

  @media (max-width: 480px) {
    left: 58px;
    width: 150px;
    padding: 0.25rem;
    margin: 10px auto;
  }

}

.label {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  text-align: left;
  color: #545f7d;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 14.42px;
  }

  @media (max-width: 480px) {
    font-size: 10px;
    line-height: 12.42px;
  }


  width: 70px;
  height: 16px;
  top: 600px;
  left: 378px;
  gap: 0px;
  opacity: 0px;
}

.textInput,
.dropdown,
.dateInput {
  width: 230px;
  height: 40px;
  top: 622px;
  left: 378px;
  gap: 0px;
  border: 1px solid #213f7d;
  outline: none;
  border-radius: 8px;
  padding-left: 5%;
  padding-right: 5%;

  @media (max-width: 768px) {
    width: 170px;
    height: 35px;
  }

  @media (max-width: 480px) {
    width: 145px;
    height: 25px;
  }

}

.buttonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.resetButton {
  width: 98px;
  height: 40px;
  top: 1020px;
  left: 378px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  border: 1px solid #545f7d;
  cursor: pointer;
  
  @media (max-width: 768px) {
    width: 80px;
    height: 30px;
  }

  @media (max-width: 480px) {
    width: 50px;
    height: 25px;
  }

  &:hover {
    background-color: #545f7d;
  }
}

.filterButton {
  width: 98px;
  height: 40px;
  top: 1020px;
  left: 378px;
  gap: 0px;
  background-color: #39cdcc;
  color: #fff;
  border-radius: 8px;
  opacity: 0px;
  border: 1px solid #545f7d;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 80px;
    height: 30px;
  }

  @media (max-width: 480px) {
    width: 50px;
    height: 25px;
  }

  &:hover {
    background-color: #1a3363;
  }
}


@media (max-width: 768px) {
  .organizationFilterForm {
    width: 70%;
    max-width: 300px;
    margin: 10px auto;
    }

    .tableHeadInner,
  .tableBodyInner {
    padding: 0.5rem;
    font-size: 12px;
  }
}


@media (max-width: 480px) {
  .organizationFilterForm {
    width: 70%;
    max-width: 180px;
    margin: 10px auto;
    }

    .tableHeadInner {
      padding: 0.5rem;
      font-size: 10px;
    }

    .tableBodyInner {
      padding: 0.25rem;
      font-size: 10px;
    }
  }

